
<p>
  <strong>Name:</strong>
  <%= @merchandise.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @merchandise.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @merchandise.details %>
</p>




<%= link_to 'Back', merchandises_path %>
