<h1>Welcome, Admin</h1>

<% if admin_user? %>
<% if @confirmed_orders.any? %>
  <% @confirmed_orders.each do |item| %>
    <p><%= item.user.f_name %></p> | 
    <p><%= item.order.id %></p> 
    <p><%= item.order.total_price %></p>
  <% end %>
<% else %>
  <p>No Orders</p>
<% end %>
<%else%>
<%= flash[:notice]= "not admin" %>
<% end %>
