<p id="notice"><%= notice %></p>

<p>
  <strong>Movies:</strong>
  <%= @movieswatched.movies %>
</p>

<%= link_to 'Edit', edit_movieswatched_path(@movieswatched) %> |
<%= link_to 'Back', movieswatcheds_path %>
